/* Basic editor styles */

.info {
  display: block;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: rgb(173, 216, 230, 0.75);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.hide-button {
  display: none;
}

/* Floating menu */
.floating-menu {
  display: block;
  background-color: var(--gray-3);
  padding: 0.1rem;
  border-radius: 0.5rem;

  ul {
    list-style: none;
    background-color: purple;
    color: white;

    li {
      visibility: visible;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      cursor: pointer;

      ul li {
        visibility: hidden;

        &:hover {
          visibility: visible;
        }
      }
    }
  }

  button {
    background-color: unset;
    padding: 0.275rem 0.425rem;
    border-radius: 0.3rem;

    &:hover {
      background-color: var(--gray-3);
    }

    &.is-active {
      background-color: var(--white);
      color: var(--purple);

      &:hover {
        color: var(--purple-contrast);
      }
    }
  }
}

.tiptap {
  position: relative;
  max-height: 300px;
  margin-top: 1rem;

  >*+* {
    margin-top: 0.75em;
  }

  .has-focus {
    box-shadow: -1px 1px 4px 2px #86a1db;
    //padding: 0.25rem;
    //margin: 0.25rem;
  }

  .term {
    font-weight: bold;
    font-style: italic;
  }

  div,
  article,
  section {
    box-shadow: -1px 1px 3px 1px #4e4e4e;
    padding: 1ex;
    margin: 1ex;
    //background-color: #ffffff;
  }

  article::before,
  section::before {
    content: attr(ptxtag);
    display: block;
    text-align: right;
    font-size: 50%;
    height: 0ex;
    top: 0;
  }

  .para {
    display: block;
    margin: 2ex 1ex;
  }

  .hidden {
    visibility: hidden;
  }

  div::after {
    content: attr(label);
    display: block;
    text-align: right;
    font-size: 50%;
    height: 1ex;
    font-weight: normal;
  }

  .title {
    display: inline-block;
    //border: dashed 1px #8b8b8b23;
    padding-top: 1ex;
    font-size: large;
    font-weight: bold;
  }

  // .title::after {
  //   content: '   title';
  //   display: inline-block;
  //   text-align: right;
  //   font-size: 50%;
  //   font-weight: lighter;
  //   height: 0ex;
  // }
  // .definition {
  //   display: block;
  //   border: dashed 1px #8b8b8b;
  //   padding: 0.25ex;
  //   background-color: #b3c6e0;
  // }
  // .definition::before{
  //   content: 'Definition. ';
  //   display: inline-block;
  //   text-align: left;
  //   margin-top: -.5ex;
  //   font-size: 110%;
  //   font-weight: bold;
  // }
  // .definition::after {
  //   content: 'definition';
  //   display: block;
  //   text-align: right;
  //   font-size: 50%;
  //   height: 2ex;
  // }
  ul,
  ol {
    border: dashed 1px #2f3d36;
    padding: 0.5ex;
    background-color: #2c2c2c;
  }

  ul::after {
    content: "ul";
    display: block;
    text-align: right;
    font-size: 50%;
  }

  ol::after {
    content: "ol";
    display: block;
    text-align: right;
    font-size: 50%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  //code {
  //  background-color: rgba(#616161, 0.1);
  //  color: #616161;
  //}

  pre {
    //background: #0d0d0d;
    //color: #111111;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  mark {
    background-color: #faf594;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }
}